*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: linear-gradient(135deg, rgb(39, 13, 90), #27032bee);
}

.container{
    width: 100%;
    min-width: 100vh;
    padding: 12px;
}

.task-list{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.title{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.title img{
    width: 25px;
    height: 27px;
    margin-left: 10px;
}