<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Менеджер задач</title>
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>
    <div class="menu">
        <header class="header">
            <img class="header__icon" src="/images/favicon.png">
            <h1 class="header--leftward">Менеджер задач</h1>
            <a class="button" href="/archive">
                <img class="header__icon" src="/images/archive.png" alt="Добавить">
            </a>
            <a class="button" href="/task-create">
                <img class="header__icon" src="/images/plus.png" alt="Добавить">
            </a>
        </header>
        <div class="menu__task" th:each="task : ${tasks}" th:attr="data-id=${task.id}">
            <p>
                <span class="menu--text-padding-left" th:text="${task.name}"></span>
            </p>
            <a class="button menu__button" th:href="@{/task-move/{id}(id=${task.id})}" id="button-move">
                <img class="menu__img-custom menu__img-custom--left-edge" src="/images/complete.png" alt="Выполнить">
            </a>
            <a class="button menu__button" th:href="@{/task-update/{id}(id=${task.id})}" id="button-update">
                <img class="menu__img-custom menu__img-custom--left" src="/images/pencil.png" alt="Обновить">
            </a>
            <a class="button menu__button" th:href="@{/task-delete/{id}(id=${task.id})}" id="button-delete">
                <img class="menu__img-custom menu__img-custom--right" src="/images/x.png" alt="Удалить">
            </a>
        </div>
        <div th:if="${#lists.isEmpty(tasks)}">
            <p class="menu__usser-message">Здесь будут ваши задачи!</p>
        </div>
    </div>
    <script th:src="@{/js/index.js}"></script>
</body>
</html>