<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Менеджер задач</title>
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>
    <div class="task-list">
        <div class="main-hdr">
            <h2><img src="/images/taskList.png">  Менеджер задач</h2>
            <a href="/task-create" class="add-button" id="addButton">
                <img src="/images/plus.png" alt="Добавить">
            </a>
        </div>
        <div class="task">
            <div th:each="task : ${tasks}" class="task-body" th:attr="data-id=${task.id}">
                <p>
                    <span th:text="${task.name}"></span>
                </p>
                <a th:href="@{/task-update/{id}(id=${task.id})}" class="update-button">
                    <img src="/images/pencil.png" alt="Обновить">
                </a>
                <a th:href="@{/task-delete/{id}(id=${task.id})}" class="delete-button">
                    <img src="/images/x.png" alt="Удалить">
                </a>
            </div>
        </div>
        <div th:if="${#lists.isEmpty(tasks)}">
            <p style="font-size: 15px;">Здесь будут ваши задачи.</p>
        </div>
    </div>
    <script th:src="@{/js/index.js}"></script>
</body>
</html>