<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Менеджер задач</title>
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>
    <div class="menu">
        <div class="menu__hdr">
            <img class="menu__hdr-icon" src="/images/taskList.png">
            <h2 class="menu__hdr--centered">Менеджер задач</h2>
            <a class="button" href="/task-create">
                <img class="menu__hdr-icon" src="/images/plus.png" alt="Добавить">
            </a>
        </div>
        <div class="menu__task" th:each="task : ${tasks}" th:attr="data-id=${task.id}">
            <p>
                <span th:text="${task.name}"></span>
            </p>
            <a th:href="@{/task-update/{id}(id=${task.id})}" class="menu__button" id="button-update">
                <img class="menu__button--img-custom" src="/images/pencil.png" alt="Обновить">
            </a>
            <a th:href="@{/task-delete/{id}(id=${task.id})}" class="menu__button" id="button-delete">
                <img class="menu__button--img-custom" src="/images/x.png" alt="Удалить">
            </a>
        </div>
        <div th:if="${#lists.isEmpty(tasks)}">
            <p style="font-size: 15px;">Здесь будут ваши задачи.</p>
        </div>
    </div>
    <script th:src="@{/js/index.js}"></script>
</body>
</html>