<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Задача</title>
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>
    <form class="task task--opened">
        <input type="hidden" th:field="*{id}" id="id">
        <header class="header">
            <h1 class="header__task-name header--centered" th:text="${task.name}"></h1>
            <a class="button header__task-name" style="position: absolute; left: 0;"
                th:href="${task.status.name().equals('ACTIVE')} ? '/' : '/archive'">
                <img class="header__icon" src="/images/return.png" alt="Обратно">
            </a>
        </header>
        <div class="task__group">
            <p>
                <span th:if="${task.description != null && task.description != ''}">
                    <span class="task__data--highlighted" th:text="${task.description}"></span>
                </span>
            </p>
            <br>
            <p class="task__data">Срочность: <input type="checkbox" th:if="${task.urgency}" checked="checked" disabled>        
                <input type="checkbox" th:unless="${task.urgency}" disabled></p>
            <p class="task__data">Важность: <input type="checkbox" th:if="${task.importance}" checked="checked" disabled>        
                <input type="checkbox" th:unless="${task.importance}" disabled></p>
            <p class="task__data" th:text="${task.status.name() == 'ACTIVE' ? 'Статус: активно' : 'Статус: архив'}"></p>
            <p class="task__data--indented">
                Дата создания: 
                <span th:text="${task.createdDateTime != null ?
                                #temporals.format(task.createdDateTime, 'yyyy-MM-dd HH:mm')
                                : 'Не указано'}"></span>
            </p>
            <p class="task__data--indented">
                Дата изменения: 
                <span th:text="${task.modifiedDateTime != null ?
                                #temporals.format(task.modifiedDateTime, 'yyyy-MM-dd HH:mm')
                                : 'Не указано'}"></span>
            </p>
            <p class="task__data--indented">
                Планируемое завершение: 
                <span th:text="${task.plannedEndDateTime != null ?
                                #temporals.format(task.plannedEndDateTime, 'yyyy-MM-dd HH:mm')
                                : 'Не указано'}"></span>
            </p>
            
            <p class="task__data--bolder-text" style="margin-top: 20px; color: red;">
                <span th:if="${task.overdue}">
                    Превышен срок исполнения!
                </span>
            </p>

            <p class="task__data--indented task__data--bolder-text">
                <span th:if="${task.actualEndDateTime != null}">
                Фактическое завершение: 
                    <span th:text="${#temporals.format(task.actualEndDateTime, 'yyyy-MM-dd HH:mm')}"></span>
                </span>
            </p>                  
        </div>
        <div class="task__group">
            <a class="task__submit" style="margin-top: 20px;" th:href="@{/task-update/{id}(id=${task.id})}">Обновить</a>
            <a class="task__submit" style="margin-bottom: 15px;" th:href="@{/task-delete/{id}(id=${task.id})}">Удалить</a>
            <br>
            <a class="task__submit" th:href="@{/task-move/{id}(id=${task.id})}" 
                th:text="${task.status.name() == 'ACTIVE' ? 'Завершить' : 'Вернуть'}"></a>
        </div>
    </form>
</body>
</html>