<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добавление задачи</title>
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>

        <!-- <form action="#" th:action="@{/task-create}" th:object="${task}" method="post">
            <label for="name">Название:</label>
            <input type="text" th:field="*{name}" id="name" placeholder="введите название">
            <br/>
            <label for="description">Описание:</label>
            <input type="text" th:field="*{description}" id="description" placeholder="введите описание">
            <br/>
            <label for="urgency">Срочность:</label>
            <input type="checkbox" th:field="*{urgency}" id="urgency">
            <br/>
            <input type="submit" value="Добавить">
        </form> -->

        <form action="#" th:action="@{/task-create}" th:object="${task}" method="post" class="task-form">
            <header class="header">
                <img class="header__icon" src="/images/taskList.png">
                <h1 class="header--centered">Новая задача</h1>
            </header>
            <div class="form-group">
                <label for="name" class="form-label"><h3>Название:</h3></label>
                <input type="text" th:field="*{name}" id="name" placeholder="введите название" class="form-input">
            </div>
            <div class="form-group">
                <label for="description" class="form-label">Описание:</label>
                <input type="text" th:field="*{description}" id="description" placeholder="введите описание" class="form-input">
            </div>
            <div class="form-group">
                <label for="urgency" class="form-label">Срочность:</label>
                <input type="checkbox" th:field="*{urgency}" id="urgency" class="form-checkbox">
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="form-submit">
            </div>
        </form>
    <script th:src="@{/js/validation.js}"></script>
</body>
</html>