<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Создание задачи</title>
    <link href="/css/main.css" rel="stylesheet">
</head>
<body>
    <form class="task" action="#" th:action="@{/task-create}" th:object="${task}" method="post">
        <header class="header">
            <img class="header__icon" src="/images/favicon.png">
            <h1 class="header--leftward">Новая задача</h1>
        </header>
        <div class="task__group">
            <label class="task__label" for="name"><h3>Название:</h3></label>
            <input class="task__input" type="text" th:field="*{name}" id="name" placeholder="введите название">
        </div>
        <div class="task__group">
            <label class="task__label" for="description"><h3>Описание:</h3></label>
            <input class="task__input" type="text" th:field="*{description}" id="description" placeholder="введите описание">
        </div>
        <div class="task__group">
            <label for="urgency">Срочность: 
                <input class="task__checkbox" type="checkbox" th:field="*{urgency}" id="urgency">
            </label>
        </div>
        <div class="task__group">
            <label for="importance">Важность: 
                <input class="task__checkbox" type="checkbox" th:field="*{importance}" id="importance">
            </label>
        </div>
        <div class="task__group">
            <input class="task__submit" type="submit" value="Добавить">
        </div>
    </form>
    <script th:src="@{/js/validation.js}"></script>
</body>
</html>