<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Задача</title>
</head>
<body>
    <h1 align="center" span th:text="${task.name}"></h1>
    <div>
        <p>ID: <span th:text="${task.id}"></span></p>
        <p>Название: <span th:text="${task.name}"></span></p>
        <p>Описание: <span th:text="${task.description}"></span></p>
        <p>Срочность: <input type="checkbox" th:if="${task.urgency}" checked="checked" disabled>        
        <input type="checkbox" th:unless="${task.urgency}" disabled></p>
        <a th:href="@{/task-update/{id}(id=${task.id})}" class="button">Обновить</a>
        <a th:href="@{/task-delete/{id}(id=${task.id})}" class="button">Удалить</a>
    </div>
    <p><a href="/" class="button" id="simpleButton">Все задачи</a></p>
</body>
</html>