body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(160deg, rgb(195, 195, 195), rgba(40, 40, 40, 0.93));


    &__icon {
        width: 24px; /* Ширина иконки */
        height: 24px; /* Высота иконки */
        position: absolute; /* Позволяет позиционировать элемент */
        top: 10px; /* Отступ сверху */
        right: 10px; /* Отступ справа */
        z-index: 10; /* Чтобы иконка была выше других элементов */
    }
}