.header {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    &__icon {
        width: 35px;
        height: 37px;
        margin-left: 10px;
        margin-right: 10px;
    }

    &--leftward {
    display: flex;
    flex-grow: 1;
    margin-right: 10px;
    font-size: 31px;
    }
}