.menu {
    @extend %main-form;

    &__task {
        @extend %menu-task;

        &--overdue {
            color: red;
            font-weight: bolder;
        }
    }

    &__task:hover {
        transform: scale(1.05);
    }

    &__button {
        position: absolute;
        top: 0;
        right: 0;
    }

    &__img-custom {
        width: 22px;
        height: 24px;
        margin-left: 10px;
        margin-top: 7px;

        &--right {
            margin-right: 15px;
        }

        &--left {
            margin-right: 45px;
        }

        &--left-edge {
            margin-right: 75px; 
        }
    }

    &__usser-message {
        font-size: 20px;
        margin-top: 30px;
        margin-left: 55px;
    }

    &--text-padding-left {
        word-wrap: break-word;
        padding-left: 10px
    }
}